:root{

  --font-family-main:'AvenirLTStd-Medium', serif;
  --font-family-accent:'BebasKai', serif;

  --transition-duration: 0.3s;

  --padding-x: 15px;
  --content-width: 1280px;
}

body{
  background-color: #000000;
  font-family: var(--font-family-main);
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.container{
  padding-inline: var(--padding-x);
  max-width: calc(var(--padding-x)*2 + var(--content-width));
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.navigation__list {
  display: flex;
  gap: 60px; 
  text-wrap: nowrap;
}

.navigation__link {
  display: flex;
  align-items: center;
  height: 90px;
  transition-duration: var(--transition-duration);
}

.social__list {
  display: flex;
  gap: 20px;
}

.social__link svg {
  transition-duration: var(--transition-duration);
}

.social__link svg:hover {
  fill: #bebbbbcc;
}

.navigation__link:hover {
  color: #bebbbbcc;
}