header {
  position: absolute;
  background-color: transparent;
}

.banner__cover {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.banner__cover img{
  width: 100vw;
}
.banner__info {
  color: #1b1a1a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner__title {
  font-size: 52px;
  text-align: center;
  margin-bottom: 15px;
}
.banner__description {
  text-align: center;
  width: 800px;
  font-size: 18px;
}

.background {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 50px;
}

/* ========================== Cards ====================================== */

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 30px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 30px;
}

.cards__list img {
  width: 350px;
  aspect-ratio: 1;
  border-radius: 15px 15px 0 0;
  margin-bottom: 10px;
}

.cards__text-title {
  font-size: 62px;
  margin-bottom: 50px;
  font-family: 'AvenirLTStd-Medium', serif;
  font-weight: 600;
}

.card__item {
  background-color: rgba(72, 70, 70, 0.4);
  border-radius: 30px;
}

.card__item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
.card__item-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.card__item-text p {
  font-size: 16px;
  padding: 20px;
}