body, html{
  scroll-behavior: smooth;
  background-color: #111111;
  font-family: var(--font-family-main);
  font-weight: 600;
  font-size: 14px;
  color: #E0E0E0;
}

p, li {
  margin: 10px;
}

p {
  text-align: center;
}

.div-storiesBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.div-story {
  max-width: 400px;
}

.title {
  margin: 10px;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 600px) {
  .div-story {
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-storiesBox {
    justify-content: center;
  }

  .title {
    font-size: 25px;
  }

  .picture {
    width: 280px;
  }
}

@media (min-width: 600px) {
  .div-story {
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-storiesBox {
    justify-content: center;
  }

  .title {
    font-size: 25px;
  }

  .picture {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .div-story {
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-storiesBox {
    justify-content: center;
  }

  .title {
    font-size: 25px;
  }

  .picture {
    width: 280px;
  }
}

@media (min-width: 992px) {
  .div-story {
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-storiesBox {
    justify-content: center;
  }

  .title {
    font-size: 25px;
  }

  .picture {
    width: 280px;
  }
}